* text=auto

*.1 text
*.adoc text
*.asciidoc text
*.bat text
*.c text
*.conf text
*.cpp text
*.css text
*.def text
*.filters text
*.go text
*.h text
*.hpp text
*.htm text
*.html text
*.inl text
*.ipp text
*.java text
*.js text
*.json text
*.jsp text
*.md text
*.markdown text
*.pl text
*.properties text
*.py text
*.rc text
*.rc2 text
*.rst text
*.sh text
*.sln text
*.sql text
*.txt text
*.vcproj text
*.vcxproj text
*.vspscc text
*.xml text
Makefile text
makefile text


*.bz2 binary
*.bmp binary
*.dll binary
*.doc binary
*.docx binary
*.exe binary
*.gif binary
*.gz binary
*.jpg binary
*.lib binary
*.png binary
*.ppt binary
*.pptx binary
*.rar binary
lib*.so binary
lib*.so.* binary
*.tar binary
*.tar.gz binary
*.tgz binary
*.xls binary
*.xlsx binary
*.zip binary

